body{
  margin: 0;
  padding: 0;
  height: 100vh;
}
#particles-js
{
  height: 100%;
  background-color: CYAN;
  background-image: url(/img/Logo-Axio/axio-only-wolf.svg);
  background-repeat: no-repeat;
}

.navbar-brand>img{
  width: 60px;
}
