body{
  margin: 0;
  padding: 0;
  height: 100vh;
}
#particles-js
{
  height: 100%;
  background-color: #0a0a3f;
  background-image: url(/img/Logo-Axio/axio-only-wolf.svg);
  background-repeat: no-repeat;
}

.mydiv{
  height: 1000px;
}
